<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^index.html" />
                    <action type="Rewrite" url="/index.asp" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^contactus.html" />
                    <action type="Rewrite" url="/contactus.asp" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^aboutus.html" />
                    <action type="Rewrite" url="/aboutus.asp" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^service.html" />
                    <action type="Rewrite" url="/service.asp" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^service(\d+).html" />
                    <action type="Rewrite" url="/service.asp?page_no={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^(\S+)service.html" />
                    <action type="Rewrite" url="/service.asp?type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 7">
                    <match url="^(\S+)/service/(\d+).html" />
                    <action type="Rewrite" url="/service.asp?type={R:1}&amp;page_no={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8">
                    <match url="^show(\d+).html" />
                    <action type="Rewrite" url="/show.asp?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9">
                    <match url="^sets.html" />
                    <action type="Rewrite" url="/sets.asp" />
                </rule>
                <rule name="已导入的规则 10">
                    <match url="^case.html" />
                    <action type="Rewrite" url="/case.asp" />
                </rule>
                <rule name="已导入的规则 11">
                    <match url="^case/(\d+).html" />
                    <action type="Rewrite" url="/case.asp?page_no={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 12">
                    <match url="^newclass.html" />
                    <action type="Rewrite" url="/newclass.asp" />
                </rule>
                <rule name="已导入的规则 13">
                    <match url="^newclass(\d+).html" />
                    <action type="Rewrite" url="/newclass.asp?page_no={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 14">
                    <match url="^video.html" />
                    <action type="Rewrite" url="/video.asp" />
                </rule>
                <rule name="已导入的规则 15">
                    <match url="^video/(\d+).html" />
                    <action type="Rewrite" url="/video.asp?page_no={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 16">
                    <match url="^videoshow(\d+).html" />
                    <action type="Rewrite" url="/videoshow.asp?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 17">
                    <match url="^contact.html" />
                    <action type="Rewrite" url="/contact.asp" />
                </rule>
                <rule name="已导入的规则 18">
                    <match url="^huwai.html" />
                    <action type="Rewrite" url="/huwai.asp" />
                </rule>
                 <rule name="已导入的规则 19">
                    <match url="^shangwuqingdian.html" />
                    <action type="Rewrite" url="/service1.asp" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
